<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0">

    <title>PocketFetch</title>

    <link
        rel="stylesheet"
        href="/static/style.css">

</head>

<body>

    <div class="container">

        <h1>📥 PocketFetch</h1>

        <p>
            Personal Media Downloader
        </p>

        <input
            id="url"
            type="text"
            placeholder="Paste a supported URL here...">

        <button id="analyzeBtn">

            🔍 Analyze

        </button>

        <div id="result"></div>

    </div>

    <script src="/static/app.js"></script>

</body>

</html>